/* General body styling */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fbd1a2; /* Warm background color */
}

#webcamContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#video {
    width: 100%; /* Make video responsive */
    border-radius: 8px;
}

#webcamContainer button {
    padding: 8px 16px;
    font-size: 14px; /* Slightly smaller font size for mobile */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    margin-top: 10px; /* Reduce space between the video and the button on mobile */
}

#loadingAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
    animation: dotFade 1.4s infinite ease-in-out both;
}

#contentContainer, #imageImpactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* Adjust width for mobile screens */
    margin: auto;
}

#generatedImage, #imageDescription, #environmentalImpact, footer#pageFooter, #sourcesElement {
    width: 100%; /* Full width on mobile for better readability */
    margin-top: 10px;
    background-color: #fbd1a2;
    border: 1px solid #e8e8e8;
    padding: 10px;
    font-size: 16px; /* Adjust font size for better readability on mobile */
    resize: vertical;
    display: none;
}

@media (min-width: 768px) { /* Adjustments for tablets and larger screens */
    #webcamContainer button, #generatedImage, #imageDescription, #environmentalImpact {
        padding: 10px 20px;
        font-size: 18px; /* Larger font size for readability */
        margin-top: 20px; /* Increase spacing */
    }

    #contentContainer, #imageImpactContainer {
        flex-direction: row; /* Align elements side by side on larger screens */
        justify-content: center;
        gap: 20px; /* Space between elements */
        width: 75%; /* Adjust container width for larger screens */
    }

    #environmentalImpact {
        width: 30%; /* Adjust the width of environmental impact section */
    }

    #generatedImage, #imageDescription {
        width: 60%; /* Adjust the width for larger screens */
    }
}

@keyframes dotFade {
    0%, 80%, 100% { opacity: 0; }
    40% { opacity: 1; }
}
